<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>anjularJs</title>
        <link type="text/css" rel="stylesheet" href="../css/demo/angular.css"/>
        <script type="text/javascript" src="../js/angular.js"></script>
    </head>
    <body>
        <header>
            <h2><a href="javascript:;"><img class="logo" src="../image/logo_1.jpg" alt="logo"></a><span>欢迎登陆后台UI系统</span></h2>
        </header>
        <div class="content" ng-app="myApp">
            <div class="login_wrap">
                <form action="" method="get" accept-charset="utf-8" novalidate ng-controller="formConFun" id="J_form">
                    <div class="item">
                        <p><label class="lab">账户：</label></p>
                        <p><input type="text" autofocus="autofocus" name="email" ng-change="iptChange()" placeholder="请输入账户名或邮箱地址" ng-model='init.mailText'></p>
                        <ul class="mail_list" ng-show="init.isShow"><li ng-repeat="item in init.mailArr" ng-bind="init.mailText+item"></li></ul>
                    </div>
                    <div class="item">
                        <p><label class="lab">密码：</label></p>
                        <p><input type="password" name="password" placeholder="请输密码" ng-model='init.pwdText'></p>
                    </div>
                    <div class="item">
                        <a href="javascript:;" class="action_btn sure">确定</a><a href="javascript:;" class="action_btn reset" ng-click="reset()">重置</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
     <script type="text/javascript">
     var myAppFun = angular.module('myApp',["formController"]);
     var formModule  = angular.module('formController',[]);
     var initData =  {
            mailText:"",
            pwdText:"",
            isShow:false,
            mailArr:['@126.com','@163.com','@qiyi.com','@qq.com','@sina.com']
     }; 
     formModule.controller('formConFun',function ($scope){
        $scope.init = initData;
        iptChange = function(){
            $scope.init.isShow = $scope.init.mailText===""?false:true;
        };
        $scope.$watch('init.mailText',iptChange);
        /* 提交重置方法 */
        $scope.reset = function() {
            initData.mailText = "";
            initData.pwdText = "";
        }
     });
    </script>
</html>